<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <br>
            <p style="text-align: center;color:#090e15;font-family: -apple-system,BlinkMacSystemFont;font-size: 30px;"><b>About US</b></p>

        </div>

    </div>
    <style>
      @media(min-width:768px)
      {
        .jkdgd
        {
          height:350px;width:495px;
        }
      }
      @media(max-width:992px)
      {
        .jkdgd
        {
          height:250px;width:300px;
        }
      }
    </style>
    <div class="row">
        <div class="col-lg-6">
            <br>
        <div class="card">
            <div class="card-body">
              <img src="assets/images/7 (1).jpg" class="jkdgd">
            </div>
        </div>
        </div>
        <div class="col-lg-6">
            <br> <br>
            <p>Global Testing Services (GTS) is an independent private organization started in 2020 with a dynamic
              team and vision of providing high quality and cost effective Lab Services to the various consumer
              organizations and industries.</p>
              <p> As an independent laboratory we offer access to well qualified, experienced and trained personnel of
              high caliber to carry out both management and technical functions and well equipped with instruments
              / equipments and techniques.</p>
        </div>

    </div>


</div>
<br><br><br>
<div class="container-fluid">
  <div class="row" >
    <div class="col-lg-12" style="background-color: #146cda">
      <p style="color: #fff;margin-top: 10px;margin-left: 15px;"><b>CORE TEAM</b></p>


    </div>
  
    <div class="col-lg-12" >
      <br> 
     <ul>
       <li style="color: #090e15;"><b>Mr. XYZ</b></li>
       <p>This is a testing paragraph This is a testing paragraph This is a testing paragraph This is a testing paragraph This is a testing paragraph This is a testing paragraph This is a testing paragraph</p>
        <li style="color: #090e15;"><b>Mr. XYZ</b></li>
        <p>This is a testing paragraph This is a testing paragraph This is a testing paragraph This is a testing paragraph This is a testing paragraph This is a testing paragraph This is a testing paragraph</p>

        <li style="color: #090e15;"><b>Mrs.XYZ</b></li>
        <p>This is a testing paragraph This is a testing paragraph This is a testing paragraph This is a testing paragraph This is a testing paragraph This is a testing paragraph This is a testing paragraph</p>
        <li style="color: #090e15;"><b>4 Mr. XYZ</b></li>
        <p>This is a testing paragraph This is a testing paragraph This is a testing paragraph This is a testing paragraph This is a testing paragraph This is a testing paragraph This is a testing paragraph</p>
    </ul>      

    </div>
  </div>
</div>
<br>
<div class="container-fluid">
    <div class="row">
      <div class="col-lg-3" style="background-color:#146cda;">
      <p style="color:#fff;text-align:center;margin-top: 30px;font-size:40px;"><b><span [countUp]="newNumm" ></span></b></p>
      <p style="color:#fff;text-align:center">Project Done</p>
      </div>
      <div class="col-lg-3" style="background-color:#146cda;">
        <p style="color:#fff;text-align:center;margin-top: 30px;font-size:40px;"><b><span [countUp]="newNum" ></span></b></p>
        <p style="color:#fff;text-align:center">Mega Project</p>
      </div>
      <div class="col-lg-3" style="background-color:#146cda;">
        <p style="color:#fff;text-align:center;margin-top: 30px;font-size:40px;"><b><span [countUp]="newNumm" ></span></b></p>
        <p style="color:#fff;text-align:center">Awards Won</p>
      </div>
      <div class="col-lg-3" style="background-color:#146cda;">
        <p style="color:#fff;text-align:center;margin-top: 30px;font-size:40px;"><b><span [countUp]="newNummm" ></span></b></p>
        <p style="color:#fff;text-align:center">Happy Clients</p>
      </div>
  
    </div>
  </div>
<br><br>
<app-footer></app-footer>