<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <br>
            <p style="text-align: center;color:#090e15;font-family: -apple-system,BlinkMacSystemFont;font-size: 30px;"><b>Gallery</b></p>

        </div>

    </div>
<style>
    @media(min-width:768px)
    {
        .jag
        {
            width:250px;height:250px

        }

    }
    @media(max-width:768px)
    {
        .jag
        {
          height: 250px;
          width: 300px;
        }

    }
</style>
    <div class="row">
        <div class="col-lg-3">
            <div class="card" >
                <div class="card-body">
                    <img src="assets/images/7 (1).jpg"  class="jag">
                </div>
            </div>
     
        </div>
        <div class="col-lg-3">
            <div class="card" >
                <div class="card-body">
                    <img src="assets/images/7 (1).jpg"  class="jag">
                </div>
            </div>
     
        </div>
        <div class="col-lg-3">
            <div class="card" >
                <div class="card-body">
                    <img src="assets/images/7 (1).jpg"  class="jag">
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card" >
                <div class="card-body">
                    <img src="assets/images/7 (1).jpg"  class="jag">
                </div>
            </div>
     
        </div>
       

    </div>
<br>

    <div class="row">
        <div class="col-lg-3">
            <div class="card" >
                <div class="card-body">
                    <img src="assets/images/7 (1).jpg"  class="jag">
                </div>
            </div>
     
        </div>
        <div class="col-lg-3">
            <div class="card" >
                <div class="card-body">
                    <img src="assets/images/7 (1).jpg"  class="jag">
                </div>
            </div>
     
        </div>
        <div class="col-lg-3">
            <div class="card" >
                <div class="card-body">
                    <img src="assets/images/7 (1).jpg"  class="jag">
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card" >
                <div class="card-body">
                    <img src="assets/images/7 (1).jpg"  class="jag">
                </div>
            </div>
     
        </div>
       

    </div>
    <br>
    <div class="row">
        <div class="col-lg-3">
            <div class="card" >
                <div class="card-body">
                    <img src="assets/images/7 (1).jpg"  class="jag">
                </div>
            </div>
     
        </div>
        <div class="col-lg-3">
            <div class="card" >
                <div class="card-body">
                    <img src="assets/images/7 (1).jpg"  class="jag">
                </div>
            </div>
     
        </div>
        <div class="col-lg-3">
            <div class="card" >
                <div class="card-body">
                    <img src="assets/images/7 (1).jpg"  class="jag">
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card" >
                <div class="card-body">
                    <img src="assets/images/7 (1).jpg"  class="jag">
                </div>
            </div>
     
        </div>
       

    </div>


</div>


<br><br><br><br>
<app-footer></app-footer>